body{
    background: linear-gradient(100deg,black,#171D32,rgb(2, 7, 30) );
}
.port{
   color:  rgb(129 140 248);
   font-size: 27px;
   font-weight: 700;
   margin-left: 30px;
   padding-top: 20px;
}

.container{
    background:linear-gradient( to Right, #1f2937,black,#1f2937) ;
    height: 550px;
    width: 1400px;

}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding: 20px;
    color: white;
}
.a_parent{
    margin-top: -10px;
    margin-left: 850px;
}
.name{
    color: rgb(137, 148, 247);
    font-size: 55px;
    font-weight: bolder;
}
.p1{
    color: aliceblue;
    font-size: 20px;
    padding-top: 10px;
    font-family:monospace;
}
.con2{
    margin-top: 130px;
    margin-left: 60px;
}
button{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 200;
    background-color:rgb(54, 63, 141) ;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 30px;
}
.ab{
    color: white;
    font-size: 50px;
    font-weight: 700;
    width: 220px;
    border-bottom: 2px solid rgb(137, 148, 247);
   margin-left: 40%;
   margin-top: 100px;
   padding-top: 30px;
}
h2{
    color:rgb(129 140 248) ;
    font-size: 25px;
}
.p2{
    color: rgb(209 213 219);
    font-size: 20px;
   
}
.pr{
    color: rgb(129 140 248);
    font-size: 50px;
    font-weight: 700;
    margin-left: 40%;
}
.container5 img{
    height: 300px;
    width: 450px;
    border-radius: 30px;
    
}
.im1{
    display: flex;
    justify-content: space-between;
}
.container5{
    background:linear-gradient( to Right, #1f2937,black,#1f2937) ;
    height: 1000px;
    width: 1330px;
    margin-top: 140px;

}
.pr_i{
    height: 320px;position: absolute;top: 170px;left: 900px;border-radius: 40%;
}
input{
    background-color: rgb(230, 230, 232);
    border-color:rgb(129 140 248) ;
    height: 30px;
    width: 400px;
    border-radius: 20px;
    margin: 10px;
}
.container4{
    background:linear-gradient( to Right, #1f2937,black,#1f2937) ;
    height: 500px;
    width: 1330px;
    margin-top: 140px;

}
html{
    scroll-behavior: smooth;
}