.m1{
    display: flex;
    justify-content: space-between;
    /* margin-top: 40px; */
}
img{
    height: 220px;
    width: 280px;
    border-radius: 4%;
    transform: rotate();
}
#m2{
    margin-top: 8px;
}
img:hover{
    transform: scale(1.1);
}
h1{
    text-align: center;
}
.respo{
    display: flex;
    flex-wrap: wrap;
}